*{
   margin: 0;
}

body{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
}

div{
   width: 100%;
   padding: 0;
   display: flex;
   justify-content: center;
   position: relative;
   margin-top: 30px;
}

img{
   width: 100%;
   position: fixed;
}

.mamaco{
   width: 100%;
   z-index: -1;
   opacity: 0;
}

@media(max-width: 600){
   img{
     opacity: 0;
   }
   
   .mamaco{
     opacity: 100%;
     width: 30%;
   }
}

@media (min-width: 800px){
   img{
     opacity: 0;
   }
   
   .mamaco{
     opacity: 100%;
     width: 30%;
   }
}